/*** CSS Tutorial: Color page ***/

/* page font */
body {
  font: 16px "Comic Sans MS", cursive;
	background: url("Blue-rule.png");
}

/* paragraphs */
p {
  color: #00f;
}

p:before {
	content: " " url("Yellow-pin.png"); 
}

#first {
  font-style: italic;
}

/* initial letters */
strong {
  background-color: #ddf; 
  color: #f00;
  font: 200% serif;
}

.spinach {
  color: #080;
  background-color: #ddf;
}


